/*-----Global-----*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html{
    font-family: "Montserrat", "sans-serif";
}

body{
    width: 100%;
    background-image: url(images/BG.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.typewrite{
    text-align: center;
    color: #b388ff;
    padding-top: 10em;
    text-decoration: none;
}

h1{
    color: #b388ff;
    font-size: 48px;
}

p{
    color: black;
    font-size: 20px;
}
/*-----nav-----*/
nav{
    height: 100px;
    line-height: 100px;
    flex-direction: column;
}

nav a{
    color: black;
    text-decoration: none;
    font-size: 24px;
    padding-left: 30px;
}

nav a img{
    vertical-align: middle;
}

nav a:nth-child(1){
    float: right;
}
nav a:nth-child(2){
    float: right;
}
/*-----header-----*/
header{
    margin: 100px 0 100px 0;
    text-align: center;
}

header p{
    width: 45%;
    margin: 30px auto 0 auto;
}

/*-----work-----*/
.work{
    text-align: center;
    width: 100%;
}

.work a img{
    margin: 1%;
    width: 45%;
    border-radius: 20px;
    margin-bottom: 50px;
    box-shadow: 0px 10px  10px rgb(211, 211, 211);
}

.btnOutline{
    display: block;
    margin: auto;
    text-decoration: none;
    padding: 20px 60px;
}

.btn {
  display: block;
  margin: auto;
  margin-top: 50px;
  background-color: #b388ff;
  border: none;
  width: 300px;
  height: 70px;
  border-radius: 10px;
  box-shadow: 0px 5px  10px rgb(179, 136, 255) ;
  align-items: center;
  opacity: 1;
  transition: 0.3s;
}

.iconevlp{
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
}
.textcm{
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
    color: white;
    font-size: 24px;
}

.btn:hover {
    opacity: 0.6;
}
    


/*-----footer-----*/
footer{
    text-align: center;
    margin: 60px 0;
}

footer p{
    color: #b388ff;
}
/*-----Responsive-----*/
@media only screen and (max-width: 991px){
    header p{
        width: 100%;
    }
    .work a img{
        margin-bottom: 10%;
        width: 96%;
    }
}
@media only screen and (max-width: 768px){
    header{
        width: 96%;
        margin: 30px auto 100px auto;
        text-align: left;
    }
    h1{
        font-size: 44px;
        text-align: center;
    }
    p{
        font-size: 20px;
        text-align: center;
    }
    footer{
        text-align: center;
        width: 90%;
        margin: 60px auto;
    }

    .btn{
        width: 225px;
        height: 60px;
    }
}
